/* ID styling */

#storyBox {display: none; margin: 0 0 4rem;}
#inputBox {display: none;}
#choicesBox {display: none;}
#inventory {display: none;}
#location {
    display: none;
    top: calc(2rem + var(--header-height));
    left: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    background-color: #55141a;
    color: #ffd233;
    border-radius: 1rem;
    padding: 1rem;
}


#myText {
    background-color: #ffd333a2;
    border-radius: 0.5rem;
    border: 1px solid #55141a;
    height: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    padding: .5rem;
}

#myButton {
    background-color: #ffd233;
    border-radius: 0.5rem;
    border: 1px solid #55141a;
    height: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

#key {display: none;} 
#mushroom {display: none;}
#milk {display: none;}