/* Reusable CSS */
* {box-sizing: border-box;} 

:root {--header-height: 6rem;}

.flex {display: flex;}
.flex-block {display: inline-block;}

.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}

.align-center {align-items: center;}

.absolute {position: absolute;}
.relative {position: relative;}

.m-right {margin-right: 1rem;}

.square {
    width: 20rem;
    height: 10rem;
    background-color: #55141a;
    border-radius: 1rem;
    cursor: pointer;
}

.square:hover { background-color: #702028;}

/* Fonts */

@font-face {
    font-family: SuperMario256;
    src: url(./assets/fonts/SuperMario256.ttf);
}

@font-face {
    font-family: BunnyFunny;
    src: url(./assets/fonts/BunnyFunny.ttf);
}

.blue {color: #019edb;}
.yellow {color: #ffd233;}
.red {color: #e62820;}
.green {color: #46ad37;}

/* Element specific classes */


body {margin: 0;}

header { 
    background-color: #e62820;
    height: var(--header-height);
}

header span {
    font-family: "SuperMario256";
    font-size: 2rem;
    letter-spacing: 0.2rem;
    -webkit-text-stroke-width: 0.125rem;
    -webkit-text-stroke-color: #000000;
}

main {
    background-image:url(https://64.media.tumblr.com/276ac633d947ba5c8bbebaa0bb6d4574/tumblr_n1xcz4UPBU1rrftcdo1_640.gifv);
    height: calc(100vh - var(--header-height));
}

.start-text { 
    animation: colorLoop 5s ease-in-out infinite;
    font-family: SuperMario256; 
    font-size: 2rem;
    letter-spacing: 0.4rem;
    color: white;
}

.text-square {
    background-color: beige;
    color: #e62820;
    width: 60rem;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: BunnyFunny;
    text-align: center;
}


.button-choice {
    background-color: #ffd233;
    color: #55141a;
    border: 0;
    border-radius: .2rem;
    height: 6rem;
    width: 12rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 1rem;
    margin: 0.5rem;

}

.inventory {
    width: 50rem;
    background-color: chartreuse;
}

/* Animations */

@keyframes colorLoop {
    0% {
        color: #019edb;
    }
    25% {
        color: #ffd233;
    }
    75% {
        color: #e62820;
    }
    100% {
        color: #46ad37;
    }
}

